{% extends 'base.html.twig' %}

{% block title %}Intervenants{% endblock %}

{% block body %}
    <h1 class="h1Style">Intervenants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervenant in intervenants %}
            <tr>
                <td>{{ intervenant.id }}</td>
                <td>{{ intervenant.firstname }}</td>
                <td>{{ intervenant.lastname }}</td>
                <td>{{ intervenant.age }} ans</td>
                <td>
                    <a class="btn btn-outline-dark mr-2" href="{{ path('intervenant_show', {'id': intervenant.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('intervenant_edit', {'id': intervenant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d'intervenant trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('intervenant_new') }}">Ajouter</a>
{% endblock %}
