{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <h1 class="h1Style">Etudiants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.firstname }}</td>
                <td>{{ etudiant.lastname }}</td>
                <td>{{ etudiant.age }}</td>
                <td>
                    <a class="btn btn-outline-dark mr-2" href="{{ path('etudiant_show', {'id': etudiant.id}) }}">Voir</a>
                    <a class="btn btn-secondary"href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d'étudiant trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('etudiant_new') }}">Ajouter</a>
{% endblock %}
