{% extends 'base.html.twig' %}

{% block title %}Matieres{% endblock %}

{% block body %}
    <h1 class="h1Style">Matieres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Intervenant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.name }}</td>
                <td>
                    {% if matiere.intervenant %}
                        <li>{{ matiere.intervenant.firstname}} {{ matiere.intervenant.lastname}}</li>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-dark mr-2" href="{{ path('matiere_show', {'id': matiere.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('matiere_edit', {'id': matiere.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de matiere trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('matiere_new') }}">Ajouter</a>
{% endblock %}
