{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1 class="h1Style">Projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.name }}</td>
                <td>{{ projet.note }}</td>
                <td>
                    <a class="btn btn-outline-dark mr-2" href="{{ path('projet_show', {'id': projet.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('projet_edit', {'id': projet.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de projet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('projet_new') }}">Ajouter</a>
{% endblock %}
